# https://editorconfig.org/
# 코드 스타일 검사 명령어: ./gradlew ktlintCheck

root = true

[*]
# text encoding
charset = utf-8

# line type & style
end_of_line = lf
insert_final_newline = true

# indent style & size
indent_style = space
indent_size = 4
tab_width = 4

# code line length
max_line_length = 120
